<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sushant.quickbills">

    <application
        android:name=".data.PersistenceEnabler"
        android:allowBackup="true"
        android:icon="@mipmap/quick_bills_solid_rounded_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/quick_bills_solid_rounded_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">
        <activity
            android:name=".activity.SignUpActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.NewBillActivity"
            android:label="New Bill"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CustomerActivity"
            android:label="Customers" />
        <activity
            android:name=".activity.ItemActivity"
            android:label="Item Prices" />
        <activity
            android:name=".activity.AllBillsActivity"
            android:label="All Bills" />
        <activity android:name=".activity.MyAccountActivity"
            android:label="My Account"/>
        <activity
            android:name=".activity.Dashboard"
            android:configChanges="orientation|screenSize"
            android:label="@string/dashboard_title"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activity.MainActivity"
            android:label="Quick Bills"
            android:theme="@style/Theme.Launcher"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        Crop Image Activity Downloaded from internet (library)-->
        <activity android:name="com.canhub.cropper.CropImageActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.sushant.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>