<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sushant.quickbills">

    <application
        android:name=".data.PersistenceEnabler"
        android:allowBackup="true"
        android:icon="@mipmap/quick_bills_solid_rounded_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/quick_bills_solid_rounded_icon"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">
        <activity
            android:name=".activity.NewBillActivity"
            android:label="New Bill"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.CustomerActivity"
            android:label="Customers" />
        <activity
            android:name=".activity.ItemActivity"
            android:label="Item Prices" />
        <activity android:name=".activity.AllBillsActivity"
            android:label="All Bills"></activity>
        <activity android:name=".activity.SignUpActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.Dashboard"
            android:windowSoftInputMode="adjustNothing"
            android:configChanges="orientation|screenSize"
            android:label="@string/dashboard_title" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.Launcher"
            android:label="Quick Bills">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>